
.products-menu-header {
  z-index: 1000; 

  position: fixed; 
  display: flex;

  padding: 1rem 2rem;
  width: 100%;
  margin-bottom: 1px;
  box-sizing: border-box;
  height: 80px; 
  background-color: transparent;
  align-items: center;

}

.home-button {
  display: flex;
  align-items: center;
}

.home-button-image {
  height: 40px;
}

.search-bar {
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 20px;
  padding: 0 10px;
}

.home-button {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.home-button-image {
  width: 125px;
  height: auto;
}
