/* General Styles */
.product-details-container {
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  background-color: #F0F0F0;
  
}

.main-content {
  display: flex;
  width: 100%;
  background-color: #F0F0F0;

}
/* Contenedor izquierdo */
.left-container {
  flex: 1;
  background-color: #E6E6FA;
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 100vh;
  max-height: 100vh;

}

/* Centrar la imagen principal */
.product-images {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
}
.main-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px; 
}

.main-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo del carrusel de miniaturas */
.thumbnail-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin-top: 20px;
  width: 100%; 
  position: relative;
}

.thumbnail-images {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px;
  overflow: hidden;
  position: relative;
  order: 2; 
  margin: 0 80px;
  justify-content: center;

}

.thumbnail {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.thumbnail:hover {
  border-color: #007bff;
  border-width: 3px;

}

.thumbnail.active {
  border-color: #007bff;
  border-width: 3px;
}

/* Arrows */
.arrow-button {
  background-color: white;
  color: white;
  border: none;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
}


.arrow-button:hover {
  background-color: #f0f0f0;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-50%) scale(1.1);
}

.arrow-button:active {
  transform: translateY(-50%) scale(0.9);
}

.arrow-button svg {
  color: #333;
  transition: transform 0.3s ease;
}

.arrow-button:hover svg {
  transform: scale(1.2);
}

.left-arrow {
  left: 10px; 
  
}

.right-arrow {
  right:10px; 
}


/* Right Container */
.right-container {
  flex: 1;
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #F0F0F0;
  border-left: 1px solid #e0e0e0;
  padding: 20px;
  position: relative;
}

.content-layout {
  
  width: 100%;
  max-width: 800px;
  text-align: center;
  display: flex;
  background-color: #F0F0F0;
  margin-top: 80px;

  flex-direction: column;
  justify-content: center; 
  z-index: 2; 
}

.product-layout {

  display: flex;
  flex-direction: column;
  align-items: left;
}

.product-title {
  font-size: 26px;
  font-family: 'Georgia', serif; 
  font-weight: normal; 
  color: #333;
  text-align: left;

  margin: 0;
}

.price-rating-container {
  display: flex;
  align-items: center; 
  gap: 8px; 
  margin-bottom: 40px ;
}

.product-price {
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin: 0;
}

/* Separador entre precio y rating */
.separator {
  font-size: 1.5rem;
  color: #555;
}

.product-price {
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin: 10px 0;
  text-align: left;

}

.product-description {
  font-size: 1rem;
  font-family: 'Helvetica Neue', sans-serif; 
  font-weight: 300;
  color: #555;
  line-height: 1.6;
  margin: 10px 0;
  text-align: left;
  text-indent: 40px;
}

.product-rating {
  display: flex;
  align-items: center;
  gap: 6px; 
  align-self: center;
}


.rating-text {
  font-size: 0.9rem;
  color: #777;
}


.divider {
  margin-top: 20px; 
  margin-bottom: 20px; 
}
/* Estilos para los contenedores de características */

.features-list {
  list-style-type: disc; 
  padding-left: 20px;
  margin: 0;
}


.product-features h2 {
  margin-top: 0;

  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
  text-align: left;
  font-family: 'Helvetica Neue', sans-serif; 
}

.feature-container {
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s ease; 
  max-width: 100%;
}

.feature-item {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
  position: relative;
  line-height: 1.6;
  font-family: 'Helvetica Neue', sans-serif; 
  text-align: left;

}

.amazon-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.scroll-indicator {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 40px;
  bottom: 20px; 

  z-index: 1; 
  transition: opacity 0.3s ease;
}

.scroll-text {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.arrow-down {
  width: 20px;
  height: 20px;
  border: 2px solid #777;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0) rotate(45deg);
  }
  40% {
    transform: translateY(-10px) rotate(45deg);
  }
  60% {
    transform: translateY(-5px) rotate(45deg);
  }
}


/* Reviews Section */
.reviews-section {
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
  background-color: #F0F0F0;

  text-align: center;
}

.reviews-section h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.section-divider {
  width: 80%;
  margin: 0 auto 20px;
  border: 1px solid #ccc;
}

.reviews-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews-container {
  overflow: hidden;
  cursor: grab;
  flex: 1;
  margin: 0 30px;
  min-height: 380px;
  position: relative;
}

.reviews-container:active {
  cursor: grabbing;
}

.reviews-carousel {
  display: flex;
  gap: 20px;
  padding: 10px 0;
  scroll-snap-type: x mandatory;
  user-select: none;
  padding-left: 60px;
  padding-right: 60px;
}

.review-card {
  flex: 0 0 auto;
  width: 300px;
  height: 340px;
  padding: 15px;
  background: #E6E6FA;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  scroll-snap-align: start;
  transition: transform 0.3s;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-card:hover {
  transform: scale(1.05);
}

.review-card.highlighted {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  z-index: 1;
}

.review-card.highlighted::before {
  content: '';
  width: 100px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -0%) rotate(0deg);
  background-image: linear-gradient(180deg, rgb(0,183,255), rgb(255, 48, 255));
  height: 180%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
  z-index: -1;
  top: -20%;
}

.review-card.highlighted::after {
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 15px;
  z-index: -1;
  background-color: #fff;
}

.review-card div {
  margin: 10px 0;
  max-height: 200px;
  overflow-y: auto;
  padding-right: 5px;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.review-card p::-webkit-scrollbar {
  width: 6px;
}

.review-card p::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.review-card p::-webkit-scrollbar-track {
  background: transparent;
}

.review-card p small {
  color: #888;
}




/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInDetails {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotBGimg {
  from {
    transform: translate(-50%, -0%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -0%) rotate(360deg);
  }
}